html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #707070;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'IBM Plex Sans', 'Helvetica', 'Arial', 'sans-serif';
}

a:hover, a:focus {
  color: #707070;
}

.header-container {
  width: 100%;
  margin: auto;
  text-align: left;
}

.link-inline {
  color: #707070;
  font-weight: bold;
}

.contact-list {
  list-style: none;
  padding-left: 0;
}

#contact {
  background-color: #f8f8f8;
}

#contact h3 {
  color: black;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

.tooltip_name {
  font-size: 14pt;
  font-weight: bold;
    margin-bottom: 5pt;
}

.tooltip_content {
  width: 300px;
  text-align: left;
  padding: 5px 0px 5px 0px;
}

.tooltip_details {
  margin-bottom: 10pt;
}

.tooltip_address {
  color: #758088;
  margin-bottom: 10px;
}

.tooltip_info_label {
  margin-bottom: 3px;
}

.tooltip_info_content {
  color: #758088;
}

.tooltip_directions a {
  color: #3c78f6 !important;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'IBM Plex Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #050505;
  font-family: 'IBM Plex Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #3074ff;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 20px;
  font-family: 'IBM Plex Sans', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
  letter-spacing: .5px;
}

#mainNav .navbar-nav > li > a.active {
  color: #a7a7a7 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #3074ff;
}

#header_photo_img_small {
  display: block;
  height: 300px;
}

#header_photo_img {
  display: none
}

.toilet_image {
  display: block;
  margin: auto;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
    font-size: 25px;
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #3074ff;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(5, 5, 5, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #3074ff;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #5e7c88;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #5e7c88;
  }
  #header_photo_img {
    height: 500px;
    display: inline;
  }
  #header_photo_img_small {
    display: none;
  }
}

#header_container {
  margin-left: 30px;
  min-width: 500px;
}

.section_title {
  font-size: 35px !important;
  font-weight: bold;
  color: black;
}

.grid_info_box {
  text-align: left !important;
  margin: 0 !important;
}

.header-content p {
  color: gray;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: rgba(5, 5, 5, 0.7);
  /*background: #ececec;*/
}

.nav-link {
  padding-left: 15px !important;
}
@media (min-width: 992px) {
  .nav-link {
    padding-left: 60px !important;
  }
}

header.masthead .header-content {
  max-width: 460px;
  margin-bottom: 100px;
  text-align: left;
  margin: auto;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 85vh;
    min-height: 400px;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  /*position: relative;*/
  padding: 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.features .section-heading {
  margin-bottom: 30px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 400px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.features .feature-item h3 {
  font-size: 20px;
  color: #707070;
  font-weight: bold;
  margin-bottom: 25px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#map {
    height: 700px;
}

section.cta {
  position: relative;
  padding: 250px 0;
  /*background-image: url("../img/bg-cta.jpg");*/
  /*background-position: center;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #5e7c88, #9f9f9f);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #5e7c88, #9f9f9f);
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

.bubble {
  margin: auto;
  margin-bottom: 15pt;
}

#navbar_container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header_title_container {
  width: 460px;
  margin: auto;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.info_boxes {
  margin: auto;
  padding: 0px;
}

.no_padding {
  padding: 0px;
}

.no_margin {
  margin: 0px;
}


footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: rgba(150, 190, 209, 0.51);
  background: -webkit-linear-gradient(#96bed1, #96bed1);
  background: linear-gradient(#96bed1, #96bed1);
}

.text-primary {
  color: #96bed1;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #96bed1;
  background-color: #96bed1;
}

.btn {
  border-radius: 300px;
  font-family: 'IBM Plex Sans', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
